$color1:#f7fcf0;
$color2:#a8ddb5;
$color3:#7bccc4 ;
$color4:#4eb3d3;
$color5:#2b8cbe ;
$color6:#0868ac ;
$color7:#084081;
$color8:#06274d; 
$color9:#041427;
.servicios-index{
    background-color:$color2; 
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 1rem 0px 4rem 0px; 
    justify-content: center !important;  
    text-align: center;  
    p{
      padding:20px;
    }
    
      h2{
          border-radius: 0px; 
          color: $color9; 
          text-align: center;
          padding-left: 30px; 
          font-size: 3rem;  
          backdrop-filter: brum(10px); 
          font-weight: 500;
        } 
        h5{position: relative;
          bottom:10px; 
          font-weight:300; 
          }
      .servicios_div-background{
          background-color: $color8; 
          margin: 0px 2px; 
          border-radius: 8px; 
          margin: 0px 1rem; 
          margin-top: 2rem;
          color:$color1;   
          p{font-weight: 200;}
          a {
             color: #f7fcf0;
            }
          @media only screen and (min-width:992px){
            width: 30rem;  
          }
          @media only screen and (min-width:768px) and (max-width:991px){
            width: 25rem;
            margin: 1rem;
          }
          
          
          .servicios_i-posicion{
              font-size: 5rem;
              color: $color1;  
              padding: 10px; 
              border-radius: 25px;}
              .servicios_h4-posiciones{
                text-align: center;
            } 
            }
        }  
   
        
        