@import "indexstyle"; 
@import "navstyle"; 
@import "footerstyle";
@import "encabezado"; 
@import "servicios";
@import "agencia";
@import "nosotros";
#body{
   font-family: 'Exo 2', sans-serif;
   font-weight: 400 ;
}
ul li {
    list-style: none;
} 
.body{
    overflow-x: hidden !important;
} 
