html body{
    font-family: 'Sen', sans-serif ;
}
/*colores a usar #21094E-#511281-#4CA1A3-#A5E1AD*/

/*inicio menu*/

#gridServicios {
              display: grid;
              grid-template-areas: "header header "
                                   "section section "
                                   "footer  footer";
              grid-template-rows: 1fr 2fr 1fr ;
              grid-template-columns: 1fr 1fr;                     
} 
@media only screen and (min-width:0px) and (max-width:767px){ 
nav{
    background-color: #511281;  
    display: inline-block
    }  
    nav img {
        display: block;
        margin: auto; 
        height: 10rem;
    }
nav ul  {
    font-size: 2rem;  
    display: flex;
    flex-direction: row; 
    justify-content: space-between;  
    flex-wrap: nowrap;
    background-color:#21094E; 
    list-style: none;

    /*menu principal*/}  
    nav ul li {
        margin: 0px 6px;
    }  
    .subTitulo{
        display: none !important;
    }

img {
    height: 6rem;
       } 
 .menu{
    color: #A5E1AD; 
      }  
/*fin menu*/
/*inicio seccion principal*/
.principal{ 
    text-align: center; 
    background-image: url("../assets/internet-3116062_960_720\ \(1\).png") ;
    height: 10rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
} 
.principal div {
    text-align: center; 
    color: #A5E1AD ; 
    font-weight: 800;
    font-size: 200%;
}
 section{
    background-color:#A5E1AD ; 
    color:#511281; 
    margin: 0px;
}

.ventajas{
    border:dashed 3px #511281 ;
}
.objetivo{  
      color: purple;
    }
footer {
        color: #A5E1AD; 
        background-color:#21094E;
    } }
@media only screen and (min-width:768px) and (max-width:1239px){ 
    nav{
    background-color: #511281;  
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    } 
nav ul  {
    font-size: 25px;  
    display: flex;
    flex-direction: row; 
    justify-content: space-between;  
    flex-wrap: nowrap;
    background-color:#21094E; 
    list-style: none;

    /*menu principal*/}  
    nav ul li {
        margin: 0px 6px;
    } 

img {
    height: 6rem;
       } 
 .menu{
    color: #A5E1AD; 
      }  
/*fin menu*/
/*inicio seccion principal*/
.principal{ 
    text-align: center; 
    background-image: url("../assets/internet-3116062_960_720\ \(1\).png") ;
    height: 10rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
} 
.principal div {
    text-align: center; 
    color: #A5E1AD ; 
    font-weight: 800;
    font-size: 200%;
}
 section{
    background-color:#A5E1AD ; 
    color:#511281; 
    margin: 0px;
}

.ventajas{
    border:dashed 3px #511281 ;
}
.objetivo{  
      color: purple;
    }
footer {
        color: #A5E1AD; 
        background-color:#21094E;
} }
@media only screen and (min-width:1240px){ 
    nav{
        background-color: #511281;  
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        } 
    nav ul  {
        font-size: 25px;  
        display: flex;
        flex-direction: row; 
        justify-content: space-between;  
        flex-wrap: nowrap;
        padding: 8px 10px; 
        background-color:#21094E;
    
        /*menu principal*/}  
    nav ul li {
        margin: 0px 30px;
    }
    img {
        height: 10rem;
           } 
     .menu{
        color: #A5E1AD; 
          }  
    /*fin menu*/
    /*inicio seccion principal*/
    .principal{ 
        text-align: center; 
        background-image: url("../assets/internet-3116062_960_720\ \(1\).png") ;
        height: 15rem;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    } 
    .principal div {
        text-align: center; 
        color: #A5E1AD ; 
        font-weight: 800;
        font-size: 200%;
    }
     section{
        background-color:#A5E1AD ; 
        color:#511281; 
        margin: 0px;
    }
    
    .ventajas{
        border:dashed 3px #511281 ;
    }
    .objetivo{  
          color: purple;
        }
    footer {
            color: #A5E1AD; 
            background-color:#21094E;
        }  }