<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Desarrolo web y publicidad</title> 
    <link rel="shortcut icon" href="../logo.jpg" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/bed1783583.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body id="body" >
  <header">        
    <nav class="navbar navbar-expand-lg navbar-light background-nav tamaño-nav color-nav boxmodel-nav">
      <a class="navbar-brand" href="#"><img src="../assets/logopng1.png.jpg" alt="logotipo" class="img-fluid img_logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse buttons" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="" href="../index.html">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="" href="servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="" href="agencia.html">Agencia</a>
          </li>
          <li class="nav-item">
              <a class="" href="Contacto.html">Contacto</a>
          </li>
          <li class="nav-item">
              <a class="" href="Nosotros.html">Nosotros</a>
          </li>
        </ul>
      </div>
    </nav>
</header> 
<section class="encabezado"> 
    <div class="container encabezado_div-color encabezado_div-posicion"> 
   
      <div class="row ">
        <div class="col-md-12 col-xs-12 " >
          <div data-aos="flip-left" data-aos-duration="1500"> <h1 class="encabezado_h1 mt-5 "><span>SERVICIOS A TU MEDIDA</span></h1></div><br>
          <P class="encabezado_p mt-5 mb-5 "><span>Para escalar tu proyecto al otro NIVEL<samp><i class="fas fa-rocket"></i></samp></span></P>
        </div> 
      </div>
    </div> 
</section>
<!--Fin encabezado--> 
<section class="servicios1">
       <h1>Aca puede ver nuestros SERVICIOS</h1> 
       <div class="container-fluid">
       <article class="servicios1_article" data-aos="zoom-in" data-aos-duration="1500"> 
          <div class="row">
            <div class="col-md-6 col-xs-12 servicios1_texto">
              <h3 class="servicios_h3-tamaño">Creacion y administracion de redes sociales:</h3>
              <ul class="servicios_ul-liststyle">
                  <li><spam><i class="fas fa-check"></i></spam>Creacion de redes sociales de tu negocio (facebook/intagram)</li>
                  <li><spam><i class="fas fa-check"></i></spam>Creacion de contenido coherente a tu marca/negocio para las mismas</li>
                  <li><spam><i class="fas fa-check"></i></spam>Administracion de campañas y creacion de las mismas</li>
                  <li><spam><i class="fas fa-check"></i></spam>Panel de rendimiento para que puedas ver el rendimiento de las campañas las 24hs</li>
              </ul>  
              <p><a href="Contacto.html">Contratar servicios</a></p>
             </div> 
               <div class="col-md-6 col-xs-12">
                 <img src="../assets/social-media.jpg" alt="socialmedia" class="img-fluid img-servicios"> 
               </div>  
          </div>
       </article>
       <article class="servicios1_article" data-aos="zoom-in" data-aos-duration="1500">
        <div class="row">
         <div class="col-md-6 col-xs-12 servicios1_texto">
           <h3 class="servicios1_h3-tamaño">Desarrollo de paginas web:</h3>
             <ul class="servicios1_ul-liststyle"> 
                 <li><spam><i class="fas fa-check"></i></spam>Creacion de tu pagina web %100 profecional </li>
                 <li><spam><i class="fas fa-check"></i></spam>Asesoramiento para la administracion de la misma</li>
                 <li><spam><i class="fas fa-check"></i></spam>Actualizacion y mantenimiento Gratis por 2 años</li>
                 <li><spam><i class="fas fa-check"></i></spam>1 año de alojamiento GRATIS</li>
             </ul>
             <p><a href="Contacto.html">Contratar servicios</a></p>
         </div> 
         <div class="col-md-6 col-xs-12">
          <img src="../assets/social-media.jpg" alt="socialmedia" class="img-fluid"> 
        </div>
        </div>
      </article>
      <article class="servicios1_article" data-aos="zoom-in" data-aos-duration="1500"> 
        <div class="row">
      
      <div class="col-md-6 col-xs-12 servicios1_texto">
        <h3 class="servicios1_h3-tamaño">Marketing con Google Ads:</h3>
        <ul class="servicios1_ul-liststyle">
            <li><spam><i class="fas fa-check"></i></spam>Manejo y creacion de campañas efectivas de google ads </li>
            <li><spam><i class="fas fa-check"></i></spam>Resultados a corto plazo</li>
            <li><spam><i class="fas fa-check"></i></spam>Estudio de nicho de mercado y y informe de resultados</li>
            <li><spam><i class="fas fa-check"></i></spam>Aumento de ventas</li>
        </ul>
        <p><a href="Contacto.html">Contratar servicios</a></p>
       </div>
       <div class="col-md-6 col-xs-12">
        <img src="../assets/social-media.jpg" alt="socialmedia" class="img-fluid"> 
      </div> 
      </div> 
     </article>  
    </div> 
 </section>
 <!--inico footer-->
 <footer class="footer footer-background"> 
  <div class="continer"> 
    <div class="row footer_div-margen">
     <div class="col-md-12 col-xs-12">
      <img src="../assets/logopng1.png.jpg" alt="logotipo" class="img-fluid footer_img-position">
     </div> 
   <div class="d-flex row footer-div-margen">
     <div class="flex-fill footer_contacto-boxmodel footer_contacto-tamaño footer_div-boxmodel col-md-4 col-xs-12">
       <h3 class="mb-4">Contacto</h3>
        <ul>
          <li><spam><i class="fab fa-whatsapp-square mx-2"></i></spam>11 6465-4667</li>
          <li><spam><i class="fas fa-envelope mx-2"></i></spam>axeljonta@gmail.com</li>
          <li><spam><i class="fas fa-map-pin mx-2"></i></spam>Av Libertador 2334, CABA, BsAs</li>
        </ul>
     </div>
     <div class="flex-fill col-md-4 col-xs-12 footer_div-boxmodel">
       <h3 class="mb-4">Nuestros servicios</h3>
       <ul>
         <li><a>Creacion y administracion de redes sociales</a></li>
         <li><a>Desarrollo de tu pagina web</a></li>
         <li><a>Marketing online</a></li>
       </ul>
     </div>
     <div class="flex-fill redes col-md-4 col-xs-12 footer_div-boxmodel">
       <h3 class="mb-4">Redes sociales</h3> 
           <ul class="redes">
             <li><a href="https://instagram.com" target="_blank" class="inta"><i class="fab fa-instagram-square"></i></a> </li>
             <li><a class="face"><i class="fab fa-facebook-square"></i></a></li>
             <li><a class="you"><i class="fab fa-youtube"></i></a></li>
           </ul>
     </div>
  </div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
  <script>
    AOS.init();
  </script>  
</body>
</html>